<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.oddStyle{background-color: #F7F2E0;}
.evenStyle{background-color: #FBEFF2;}
.firstStyle{color:#CEF6EC;}
.lastStyle{color:#A9E2F3;}
</style>
</head>
<body>
<div class="panel panel-default" layout:fragment="content1">
<h1>FreeBoard List~~~</h1>
<!-- <p th:text="${boardList}"></p> -->
	<!-- 파라미터나 세션에 로그인한 사람의 이름으로 쓸수잇음(타겟) -->
	<table border="1" th:with="target1='user4', target2='user9'">
 <tr>
 	<td>index,count</td>
 	<td>index,count</td>
 	<td>first,last</td>
 	<td>size</td>
 	<td>글번호</td>
 	<td>제목</td>
 	<td>작성자</td>
 	<td>target..4찾기</td>
 	<td>target..9찾기</td>
 	<td>내용</td>
 	<td>작성일</td>
 	<td>수정일</td>
 	
 </tr>
 <tr th:each="board, rowStatus :${boardList}"
 	 th:class="${rowStatus.even}?'evenStyle':'oddStyle'"
 	 th:classappend="${rowStatus.first or rowStatus.last}?'firstStyle':''">
 <td th:text="${rowStatus.index+'--'+rowStatus.count}"></td>
 <td th:text="|${rowStatus.index}--${rowStatus.count}|"></td>
 <td th:text="|${rowStatus.first}--${rowStatus.last}|"></td>
 <td th:text="|${rowStatus.even}--${rowStatus.odd}|"></td>
 <td th:text="${rowStatus.size}"></td>
 	<td>
 		<a th:href="@{detail(bno=${board.bno})}" th:text="${board.bno}"></a>
 	번호</td> <!-- 태그 사이의 문자들은 출력되지 않음 출력하려면 inline 이용-->
 	<td th:text="${board.title}">제목</td>
 	<td th:text="${board.content}">내용</td>
 	<td th:text="${board.writer}">작성자</td>
 	<td th:text="${board.writer==target1?'찾음(user4)':'손님'}">작성자</td>
 	<td th:text="${board.writer==target2?'찾음(user9)':'손님'}">작성자</td>
 	
 	<td>
 		<a href="#" th:if="${board.writer==target1}">삭제</a>
 		<p th:unless="${board.writer==target1}">view</p>
 	</td>
 	<td th:text="${board.regDate}">작성일</td>
 	<td th:text="${board.updateDate}">수정일</td>
 	<!-- html에서 inline으로 tymeleaf 사용하기 
 	<td>[[${board.updateDate}]]</td>
 	<td>[[${board.regDate}]]</td>-->
 	
 </tr>
 
</table>
</div>
<script
	src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<th:block layout:fragment="script1">

<script th:inline="javascript">
//javascript에서 inline으로 thymeleaf 사용하기
var boardList =[[${boardList}]];
console.log(boardList[0]);
$.each(boardList, function(index, item){
	console.log(item);
});
</script>
</th:block>
</body>
</html>